<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "../css/dummyMain.css"/>
</head>
<body>
    <div class = "container">
        <div class = "header">
            <div class = "greeting">
                <p>Hello user</p>
            </div>
            <div class = "butt points">
                <p>Points: 12000</p>
            </div>
        </div>
        <div class = "main">
            <div class = "butt cameraButton">
                <p>📷</p>
            </div>
            <div class = "plantAnimation">
                <img src="../img/flowers-flower.gif" alt="Growing Flower Animation">
            </div>
            <div class = "butt stepsButton">
                <p>Steps:5000</p>
            </div>
            <div class = "butt pokedexButton">
                <a href = "./pokedex.html">pokedex</p>
            </div>
        </div>
        <div class="soil"></div>

    </div>
</body>
</html>