<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "../css/dummyMain.css"/>
    <script src="../js/globals.js"></script>
    <script src="https://unpkg.com/@capacitor/core@latest/dist/capacitor.js"></script>
    <script defer src = "../js/camera.js"></script>
    <script defer src = "../js/main.js"></script>
    <script defer src = "../js/distance.js"></script>
    
    <!-- <script src="https://unpkg.com/@capacitor/core@latest/dist/capacitor.js"></script> -->
</head>
<body>
    <div class = "container">
        <div class = "header">
            <div class = "greeting">
                <p style = "font-family: 'Brush Script MT', cursive; font-size: 40px">Hello <span id ="user-tag">there</span>!</p>
            </div>
            <div class = "butt points">
                <p>Points: <span id="points">0</span></p>
            </div>
        </div>
        <div class = "main">
            <div class = "butt cameraButton id " id = "cameraButton">
                <p href>📷</p>
            </div>
            <div class = "plantAnimation">
                <img src="../img/flower.gif" alt="Growing Flower Animation">
            </div>
            <div class = "butt stepsButton">
                <p>Distance Walked: <span id="distance-travelled">0</span>m</p>
            </div>
            <div class = "butt distance-button">
                <p id ="StartStop">Start Journey</p>
            </div>
            <div class = "butt pokedexButton" id="compendium">
                <!--  href = "./pokedex.html -->
                <p >Compendium</p>
            </div>
        </div>
        <div class="soil"></div>

    </div>
    
</body>
</html>