<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steps</title>
    <script defer src="../js/globals.js"></script>
    <script defer src = "../js/camera.js"></script>
    <script src="https://unpkg.com/@capacitor/core@latest/dist/capacitor.js"></script>
    <link rel="stylesheet" href="../css/camera.css"> 
</head>
<body>
    <div class="steps">Steps: ___</div>

    <!-- Camera Icon -->
    <button class="camera-icon" id="cameraButton" >📷</button>

    <!-- Captured Image -->
    <p id="capturedImage" alt="Captured Image">Not working</p>

   <p id = "plantdata"></p>
</body>
</html>